/*========================
* Google Fonts: Hind Siliguri
=========================*/
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

/*========================
* CSS Variables 
=========================*/
:root{
    --bengali-font: 'Hind Siliguri', sans-serif;
    --bg-color: #e2e2e2;
    --link-color: rgba(0,0,0,0.87);
}

/*=========================
* Global Element Styles  
=========================*/
h1,
h2,
h3,
h4,
a,
div,
article,
p,
section,
aside,
footer,
body,
main,
header,
ul,
li,
ol,
input,
textarea{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--bengali-font);
}

input,
textarea,
::placeholder{
    font-family: var(--bengali-font);
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--link-color);
    display: inline-block;
}

#container{
    margin: 40px 260px;
}

header{
    grid-area: header;
}

article{
    grid-area: blogpost;
}

aside{
    grid-area: sidebar;
}

footer{
    grid-area: footer;
}

#container{
    display: grid;
    grid-template-areas: 
        "header header header header"
        "blogpost blogpost blogpost sidebar"
        "footer footer footer footer";
    gap: 4em;
}

/*======================  
* Header Styles Here
======================*/

.header-blogpost__title{
    font-size: 3em;
}

.header-blogpost__nav,
.header-blogpost__main-nav,
.header-blogpost__social-nav{
    display: flex;
    gap: 1em;
    font-size: 22px;
    font-weight: 700;
}

.header-blogpost__main-nav,
.header-blogpost__social-nav{
    align-items: center;
}

/*===================
* Article Styles Here  
=====================*/
.article-blogpost > div{
    margin: 40px 0;
}

.posts-title{
    font-size: 1.8em;
    font-weight: 300;
}

.header-blogpost__posts > p{
    font-size: 18px;
    line-height: 30px;
    margin: 20px 0;
}

.header-blogpost__posts-meta,
.header-blogpost__posts-meta ul{
    display: flex;
    gap: .8em;
}

.posts__read-more,
.header-blogpost__another-post{
    font-size: 1em;
    font-weight: 300;
    border: 1px solid #dddddd;
    padding: 10px 16px;
    transition: all 300ms ease-in-out;
}

.posts__read-more:hover,
.header-blogpost__another-post:hover{
    color: #ffffff;
    background: var(--link-color);
}

.article-single__title{
    font-size: 28px;
}

.article-single__content{
    font-size: 24px;
    line-height: 36px;
}
.article-single__content figure img{
    width: 100%;
    border-radius: 8px;
}

.article-single__content figure figcaption{
    font-size: 18px;
}

.article-single__content > *{
    margin: 1em 0;
}


/*=======================
* Sidebar Styles Here
=======================*/
.sidebar-blogpost{
    margin-top: 40px;
}

.sidebar-blogpost__search,
.sidebar-blogpost__recent-posts,
.sidebar-blogpost__tags{
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.search-title{
    margin-bottom: 1em;
}

.sidebar-blogpost__search input{
    padding: 8px;
    border: 1px solid #ddd;
    width: 100%;
}

.sidebar-blogpost__recent-posts ul{
    margin: 20px 0;
}

.sidebar-blogpost__recent-posts ul li ul{
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 1em;
}




